<section class="herobanner">
    <div class="herobanner__content">
        <div class="herobanner__content-badge">Sergio Martín Alonso</div>
        <h1 class="herobanner__content-title">
            {{ ts.translate('home.title')() }} <br />
            <span class="primary-gradient-text">{{ ts.translate('home.titleHighlight')() }}</span>
        </h1>
        <h3 class="herobanner__content-titlesub">
            {{ ts.translate('home.subtitle')() }}
        </h3>
        <div class="herobanner__content-subtitle">
            {{ ts.translate('home.description')() }}
        </div>
        <div class="herobanner__content-buttons">
            <a href="assets/CV/CV_Sergio_Martin_2026.pdf" download class="button-solid">
                <span>{{ ts.translate('home.downloadCV')() }}</span>
                <div class="button__bg"></div>
            </a>
            <button class="button-liquid">
                <span>{{ ts.translate('home.viewProjects')() }}</span>
            </button>
        </div>
    </div>
    <div class="herobanner__scroll">
        <span class="herobanner__scroll-text">{{ ts.translate('home.scrollToExplore')() }}</span>
        <div class="herobanner__scroll-arrow">
            <div></div>
        </div>
    </div>
</section>