<footer>
    <div class="icons">
        <a href="https://www.linkedin.com/in/sergio93ma/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/sergio93ma" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <label class="switch language">
        <div class="overlay"></div>
        <input type="checkbox" [checked]="isSpanish()" (change)="toggleLanguage($event)" />
        <span class="slider">
            <img class="spanish" src="assets/images/spanish.svg">
        </span>
    </label>
    <label class="switch theme">
        <div class="overlay"></div>
        <input type="checkbox" [checked]="isLightTheme()" (change)="toggleTheme()" />
        <span class="slider">
            <i class="fa-solid fa-sun-bright"></i>
            <i class="fa-solid fa-moon"></i>
        </span>
    </label>
    <span class="version">v{{ version }}</span>
</footer>