@use '../../../variables' as *;

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 10;
    padding: 2rem 0.8rem;
    opacity: 0.5;
    transition: opacity 0.5s ease-out 2s;

    @media (max-width: $tablet) {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0.8rem 2rem;
        right: 0;
    }

    &:hover {
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }

    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;

        @media (max-width: $tablet) {
            flex-direction: row;
        }

        a {
            color: var(--text-primary);
            transition: color 0.3s;
            width: 2.4rem;
            height: 2.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--grayscale-50);
            border-radius: 2rem;
            font-size: 1rem;

            &:hover {
                color: var(--grayscale-30);
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .switch {
        position: relative;
        height: 4rem;
        width: 2.2rem;
        border-radius: 4rem;
        overflow: hidden;

        @media (max-width: $tablet) {
            height: 2.2rem;
            width: 4rem;
        }

        .overlay {
            position: absolute;
            inset: 0px;
            z-index: 2;
            pointer-events: none;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
        }

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
                &:before {
                    transform: translateY(-1.8rem);
                    @media (max-width: $tablet) {
                        transform: translateX(1.8rem);
                    }
                }
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: 0.4s;
            border-radius: 10rem;
            overflow: hidden;

            &:before {
                content: '';
                position: absolute;
                height: 1.6rem;
                width: 1.6rem;
                left: 0.3rem;
                bottom: 0.3rem;
                border-radius: 5rem;
                background-color: var(--grayscale-20);
                box-shadow: 0 0 16px var(--grayscale-100);
                transition: 0.4s cubic-bezier(0.81, -0.04, 0.38, 1.5);
                transition-property: transform, background;
                z-index: 3;
            }
        }

        &.language {
            input {
                &:checked + .slider {
                    img.spanish {
                        opacity: 1;
                    }
                }
            }

            .slider {
                background: url('../../../assets/images/english.svg');
                background-size: cover;
                background-position: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: opacity 0.4s ease-in;
                }

                img.spanish {
                    opacity: 0;
                }
            }
        }

        &.theme {
            input {
                &:checked + .slider {
                    background-color: var(--grayscale-70);
                    color: var(--text-primary);
                }
            }

            .slider {
                background-color: var(--grayscale-20);
                color: var(--text-contrast);

                i {
                    position: absolute;
                    height: 1.6rem;
                    width: 1.6rem;
                    left: 0.3rem;

                    @media (max-width: $tablet) {
                        left: unset;
                    }
                    &.fa-sun-bright {
                        top: 0.6rem;

                        @media (max-width: $tablet) {
                            left: 0.3rem;
                        }
                    }
                    &.fa-moon {
                        bottom: 0;

                        @media (max-width: $tablet) {
                            right: 0.3rem;
                        }
                    }
                }
            }
        }
    }
    .version {
        font-family: 'JetBrains Mono', monospace;
        color: var(--grayscale-30);
        writing-mode: sideways-lr;

        @media (max-width: $tablet) {
            writing-mode: unset;
        }
    }
}
