<nav id="Header">
    <a class="header__position" routerLink="">
        <div class="header__position-icon">
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="header__position-text">
            <h3 class="name">Sergio Martín Alonso</h3>
            <span class="experience">Front Senior Developer</span>
        </div>
    </a>
    <ul class="header__menu">
        @for (item of navItems; track item.id) {
            @if (item.label) {
            <li [class.active]="activeSection() === item.id" (click)="scrollTo(item.id)">
                {{ item.label }}
            </li>
            }
        }
    </ul>
    <div class="header__info">
        <button class="header__info-status">
            <span class="status__icon status__icon--available"></span>
            <span class="status__text">Available</span>
        </button>
        <div class="header__info-profile">
            <img
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuBrrSeodVp0T_dOLzDzmjWaVe1oAmiDmtshG7gPFyXPK4wFxAFDwU6-4BLSRyCa2cJ_WwXW1G9tpsT8488eEXeLJ3qaCe0VPF4yOLXSNv5ZxY3OsBRMptR4QnUxxMG-md-NKEDH3ftK55O7QHCVHUbqq4zSikKXoiwFC6Hkr9P4E6_obbiRu37FQ4bzDmQHKlH-E1BWAE6Sdm6-E13lWfQGXCwgZ-7IaiHreJmviorQeMkUVfqIDOH2FqQCsx-dqral91GKZWRiZG9G" />
        </div>
    </div>
</nav>