<nav id="Header">
    <a class="header__position" routerLink="">
        <div class="header__position-icon">
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="header__position-text">
            <h3 class="name">Sergio Martín Alonso</h3>
            <span class="experience">Front Senior Developer</span>
        </div>
    </a>
    <ul class="header__menu">
        @for (item of navItems; track item.id) {
            @if (item.label) {
            <li [class.active]="activeSection() === item.id" (click)="scrollTo(item.id)">
                {{ item.label }}
            </li>
            }
        }
    </ul>
    <div class="header__info">
        <button class="header__info-status">
            <span class="status__icon status__icon--available"></span>
            <span class="status__text">OPEN TO OFFERS</span>
        </button>
    </div>
</nav>