// MEDIAS
$mobileSm: 546px;
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;

// Mixins
@mixin glass-effect {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: var(--floating-shadow);
}