<section class="projects">
    <app-sectiontitle [title]="ts.translate('projects.title')()" [description]="ts.translate('projects.description')()"></app-sectiontitle>
    <div class="projects__grid">
        @for (p of projects(); track $index) {
        <div class="proyect" (click)="openProject(p.id)">
            <div class="proyect__image">
                @if (p.type === 'confidential') {
                <div class="confidential__overlay">
                    <i class="fa-solid fa-lock"></i>
                </div>
                }
                <img [src]="'assets/images/projects/'+p.id+'.webp'" alt="{{ p.title }}" loading="lazy" width="300" height="200">
            </div>
            <div class="proyect__body">
                <h3 class="proyect__body-title">
                    @if(p.icon) {<i [class]="p.icon"></i>&nbsp;}
                    {{ p.title }}
                </h3>
                <p class="proyect__body-description">{{ p.description_short }}</p>
                <div class="proyect__body-links">
                    @if (p.url) {<a [href]="p.url"><i class="fa-solid fa-link"></i></a>}
                    @if (p.github) {<a [href]="p.github"><i class="fa-brands fa-github"></i></a>}
                </div>
            </div>
        </div>
        }
    </div>

    @if (project) {
    <div class="projects__modal" (click)="closeProject()">
        <div class="proyect" (click)="$event.stopPropagation()">
            <i class="fa-solid fa-xmark" (click)="closeProject()"></i>
            <h1 class="proyect__title">
                @if(project.icon) {<i [class]="project.icon"></i>&nbsp;}
                {{ project.title }}
            </h1>
            <div class="proyect__body">
                <div class="proyect__body-left">
                    <div class="proyect__image">
                        @if (project.type === 'confidential') {
                        <div class="confidential__overlay">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        }
                        <img [src]="'assets/images/projects/'+project.id+'.webp'" alt="{{ project.title }}" loading="lazy" width="300" height="200">
                    </div>
                </div>
                <div class="proyect__body-right" [innerHTML]="project.description"></div>
            </div>
        </div>

    </div>
    }
</section>