<section class="aboutme">
    <div class="aboutme__presentation">
        <div class="aboutme__presentation-photo">
            <img src="assets/images/profile_photo.webp" [attr.alt]="ts.translate('aboutme.profilePhoto')()" width="400" height="400">
        </div>
        <h1 class="aboutme__presentation-title">
            <span>Sergio</span>
            <span>Martín</span>
            <span>Alonso</span>
        </h1>
        <div class="aboutme__presentation-subtitle">:: {{ ts.translate('aboutme.senior_frontend_developer')() }}</div>
        <div class="aboutme__presentation-buttons">
            <a href="assets/CV/CV_Sergio_Martin_2026.pdf" download class="button-solid">
                <span>{{ ts.translate('common.downloadCV')() }}</span>
                <div class="button__bg"></div>
            </a>
            <button class="button-liquid" (click)="scrollTo('projects')">
                <span>{{ ts.translate('aboutme.viewProjects')() }}</span>
            </button>
        </div>
    </div>
    <div class="aboutme__description">
        <p>{{ ts.translate('aboutme.description1')() }}</p>
        <p>{{ ts.translate('aboutme.description2')() }}</p>
        <p>{{ ts.translate('aboutme.description3')() }}</p>
    </div>
</section>