@use '../variables.scss' as *;

.animatedbg {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    inset: 0px;
    z-index: -10;

    &__light1 {
        position: absolute;
        right: 15%;
        top: 40%;
        width: 24rem;
        height: 24rem;
        transform: rotate(45deg);
        animation: float 6s ease-in-out infinite;
        border-radius: 4rem;
        border-width: 1px;
        border-color: var(--primary-70);
        opacity: 0.2;

        @supports (animation-timeline: view()) {
            animation: parallax-up linear forwards;
            animation-timeline: scroll();
            animation-range: 0vh 100vh;
        }
    }

    &__light2 {
        position: absolute;
        left: 20%;
        top: 60%;
        height: 8rem;
        width: 8rem;
        border-radius: 9999px;
        background-color: var(--primary-70);
        filter: blur(40px);
        opacity: 0.5;

        @supports (animation-timeline: view()) {
            animation: parallax-down linear forwards;
            animation-timeline: scroll();
            animation-range: 0vh 100vh;
        }
    }
    &__light3 {
        position: fixed;
        right: -10%;
        top: 25%;
        height: 600px;
        width: 600px;
        border-radius: 220px;
        animation: glow 3s ease-in-out infinite;
        background-color: var(--primary-70);
        filter: blur(60px);
        will-change: transform;
    }
    &__light4 {
        position: fixed;
        bottom: 25%;
        left: -10%;
        height: 500px;
        width: 500px;
        border-radius: 200px;
        animation: glow 4s ease-in-out infinite;
        background-color: var(--primary-70);
        filter: blur(60px);
        will-change: transform;
    }
}

.container {
    max-width: 1280px;
    padding: 6rem 0 15rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    @media (max-width: $desktop) {
        padding: 6rem 5rem;
        max-width: unset;
        width: 100vw;
    }
    @media (max-width: $tablet) {
        padding: 2rem 1.5rem;
        gap: 8rem;
        position: fixed;
        inset: 0;
        overflow: auto;
        mask-image: linear-gradient(
            to bottom,
            black calc(100% - 128px),
            transparent calc(100% - 48px),
            transparent 100%
        );
    }
    @media (max-width: $mobile) {
        padding: 2rem 2rem;
        gap: 6rem;
    }
}

@keyframes glow {
    0%,
    100% {
        opacity: 0.05;
    }
    50% {
        opacity: 0.1;
    }
}
@keyframes parallax-down {
    to {
        transform: translateY(300rem) rotate(-10deg);
    }
}
@keyframes parallax-up {
    to {
        transform: translateY(-150px) rotate(20deg);
    }
}
